<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entries</title>
</head>
<body>
<h1>Entries:</h1>
    <p th:text="'id: ' + ${inputEntryById.id}" />
    <p th:text="'content: ' + ${inputEntryById.content}" />


    <table>
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Content </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${entries.empty}">
                    <td colspan="2"> No Entries Available </td>
                </tr>
                <tr th:each="entry : ${entries}">
                    <td><span th:text="${entry.id}"> Id </span></td>
                    <td><span th:text="${entry.content}"> Content </span></td>
                </tr>
            </tbody>
    </table>

<a href="/">Submit another message</a>
</body>
</html>
