<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UsersEdit</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h3>Edit user</h3>
<form action="#" th:object="${editUser}"
      th:action="${'/users/edit/id=' + {editUser.id}}"
       method="post">

    <span>Login:</span>
    <span class="validationError"
          th:if="${#fields.hasErrors('login')}"
          th:errors="*{login}">Login error</span>
    <p><input type="text" th:field="*{login}" value placeholder="Login"/></p>
    <span>Password:</span>
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Password error</span>
    <p><input type="text" th:field="*{password}" value placeholder="Password"/></p>
    <span>E-mail:</span>
    <span class="validationError"
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}">E-mail error</span>
    <p><input type="text" th:field="*{email}" value placeholder="E-mail"/></p>
    <span>Phone number:</span>
    <span class="validationError"
          th:if="${#fields.hasErrors('phone_number')}"
          th:errors="*{phone_number}">Phone number error</span>
    <p><input type="text" th:field="*{phone_number}" value placeholder="Phone number"/></p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>