<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
<div th:fragment="usersTable" class="users-table">
    <table>
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Login </th>
                    <th> Password </th>
                    <th> E-mail </th>
                    <th> Phone number </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.empty}">
                    <td colspan="2"> No Users Available </td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.id}"> Id </span></td>
                    <td><span th:text="${user.login}"> Login </span></td>
                    <td><span th:text="${user.password}"> Password </span></td>
                    <td><span th:text="${user.email}"> E-mail </span></td>
                    <td><span th:text="${user.phone_number}"> Phone number </span></td>
                </tr>
            </tbody>
    </table>
</div>
</body>




</html>